// Created by sam mok 2015(Siso brand interactive team).

/*************************************/
/* Reset */
/*************************************/
html {
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
}

body {
  background: #070706;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p, a, button, span {
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

/* main */
#main {
  height: 100%;
  max-width: 1080px;
  max-height: 1920px;
  margin: 0 auto;
  position: relative;
}

#bg {
  height: 100%;
  background: url("../images/bg.jpg");
  background-size: cover;
}

.rails-left {
  position: absolute;
  top: 4%;
  left: 4.2%;
}

.rails-right {
  position: absolute;
  top: 0.4%;
  right: 0.42%;
}

/* radio */
.radio {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 12%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

#audio { display: none;}

.radio-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150%;
}

.radio.animated {
  opacity: 1;
  transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  transform-origin: 59px 11px;
  -webkit-transform-origin: 59px 11px;
}

.radio.animated .radio-handlebar {
  transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  transform-origin: 59px 11px;
  -webkit-transform-origin: 59px 11px;
}

.radio.play .radio-handlebar {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;
}

.radio.play {
  transform: rotate(0deg);
  transform-origin: 50% 50% 0;
}

.radio.play .radio-circle {
  animation-name: rotateSelf;
  animation-duration: 4000ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotateSelf;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

@keyframes rotateSelf {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  20% {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }

  55% {
    transform: rotate(220deg);
    -webkit-transform: rotate(220deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateSelf {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  20% {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }

  55% {
    transform: rotate(220deg);
    -webkit-transform: rotate(220deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.radio-handlebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
}

/* letter */
.letter {
  position: absolute;
  top: 10%;
  left: 11%;
  width: 78%;

  transform: translateY(120%);
  -webkit-transform: translateY(120%);
  -webkit-transition: transform 1s ease-out;
  -moz-transition: transform 1s ease-out;
  -ms-transition: transform 1s ease-out;
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
}

.letter.animated {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.letter-stamp {
  position: absolute;
  top: 7.5%;
  width: 61%;
  z-index: 4;
}

.letter-postmark {
  position: absolute;
  left: 44.4%;
  top: 13.6%;
  z-index: 5;
  width: 52.6%;
}

.letter-postmark.a-gaizhang {
  -webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  -ms-transition: transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
}

.letter-full {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

/* scene 01 */
.scene01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .sentence {
    display: block;
    max-width: 68%;
    margin: 20% auto 0 auto;
  }
}

/* scene 02 */
.scene02 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* animation */
.a-gaizhang {
  opacity: 0;
  transform: scale(3);
  -webkit-transform: scale(3);
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -ms-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
}

.a-gaizhang.animated {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}


/*************************************/
/* Responsive */
/*************************************/
@media screen and (max-width: 1215px) {

}
